.App {
  text-align: center;
}


.small-button {
  padding: 3px 8px;
  font-size: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}